{% extends 'layout.html' %}

{% block body %}
    <div class="container-fluid pt-3" style="max-width: 1440px;">
        <div class="ms-auto p-3 bg-light text-light rounded-3">
            <div class="text text-center fs-2 pb-3 text-dark">Dashboard</div>
                <div class="row text-dark border-top border-end border-start border-dark rounded-top">
                    <div class="col-md-4 bg-primary">
                        <p class="fs-1 fw-bolder text-center text-light pt-3">23</p>

                        <p class="fs-5 fw-bold text-center">Yeni Siparisler</p>

                    </div>
                    <div class="col-md-4 bg-info">
                        <p class="fs-1 fw-bolder text-center text-light pt-3">23</p>
                        <p class="fs-5 fw-bold text-center pb-3">Aktif Siparisler</p>
                    </div>
                    <div class="col-md-4 bg-danger">
                        <p class="fs-1 fw-bolder text-center text-light pt-3">48</p>

                        <p class="fs-5 fw-bold text-center">İptal Siparisler</p>
                    </div>  
                </div>
                <div class="row text-dark border border-dark rounded-bottom">
                    <div class="col-md-4 bg-warning">
                        <p class="fs-1 fw-bolder text-center text-light pt-3">15</p>

                        <p class="fs-5 fw-bold text-center">Dikimdeki Siparisler</p>
                    </div>
                    <div class="col-md-4 bg-secondary">
                        <p class="fs-1 fw-bolder text-center text-light pt-3">95</p>

                        <p class="fs-5 fw-bold text-center">Montajdaki Siparişler</p>
                    </div>
                    <div class="col-md-4 bg-success">
                        <p class="fs-1 fw-bolder text-center text-light pt-3">3689</p>

                        <p class="fs-5 fw-bold text-center">Tamamlanan Siparişer

                        </p></div>  


                </div>
        </div>  
    </div>
      

{% endblock %}