{% extends 'layout.html' %}

{% block body %}

    <!--Container-->
    <div class="container container-fluid d-flex flex-row border border-primary" style="height:100%">
        <div class="filter col-md-2 border border-warning me-3" style="height: 100%; background-color:blue; ">
            <p>Filtreler Buraya Gelicek</p>
        </div>
        <div class="content col-md-10 d-flex flex-row flex-wrap justify-content-evenly border border-dark    ">

            <div class="card m-3" style='width:15rem; height:15rem;'>
                <div class="card-header text text-center">Ürün Marka</div>
                <img src="" class="card-img-top img-fluid rounded" alt="Ürün Resmi">
                <div class="card-body d-flex flex-column align-items-center">
                    <div class="card-title">Kod</div>
                    <div class="card-text">Varyant ve renk </div>
                </div>
            </div>







            





            
        </div>




    </div>
    
{% endblock body %}