{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container container-fluid d-flex flex-row justify-content-center">

    <div class="col-md-6 p-5">


        {% if form and variants %}
            {% csrf_token %}    
            {{form | crispy }}
            
            <hr>

            {% crispy variants%}

        {% elif form %}
        {% csrf_token %}            
        {{form | crispy }}
            <hr>
          

        {% endif %}

    </div>

</div>

{% endblock %}