{% extends 'layout.html' %}

{% block body %}

<!--Container-->
<div class="container container-fluid d-flex flex-row border border-primary" style="height:100%">
    <div class="filter col-md-2 border border-warning me-3 d-flex  flex-column  align-items-center" style="height: 60vh; background-color:blue; ">
        <div class="product-type"><p>Ürün Tipi:</p></div>
        <div class="category-filter"> <p>Ürün Kategorileri</p> </div>
        <div class="color-filter"> <p>Renkler:</p> </div>
        <div class="company-filter"> <p>Marka:</p> </div>
        <div class="head-filter"> <p>Başlık:</p> </div>

        <button id="filters" onclick="myfunction()" class="btn btn-info"> <i class="bi bi-funnel"></i>Filtrele</button>
    </div>
    <div class="content col-md-10 d-flex flex-row flex-wrap justify-content-evenly border border-dark ">

        {% if products %}

        {% for product in products %}
        <div class="card m-3" style='width:15rem;'>
            <div class="card-header text text-center">{{product.brand}} / {{product.head_name}}</div>
            {% if product.picture %}
            <img src="{{product.picture.url}}" class="card-img-top img-fluid rounded" alt="Ürün Resmi Gelicek">

            {% else %}
            <img src="" class="card-img-top img-fluid rounded" alt="Ürün Resmi Gelicek">
            {% endif %}
            <div class="card-body d-flex flex-column align-items-center">
                <div class="card-title mt-auto">{{product.code}}</div>
                <div class="card-text">{{product.color}} </div>
                <a href="{%url 'firms:details' product.id %}" class="btn btn-outline-success mt-auto">Detaylar</a>
            </div>
        </div>
        {% endfor %}





        {% endif %}

    </div>






</div>
{% if products.has_other_pages %}
<div class="pagination d-flex justify-content-center p-2">
    <nav aria-label="...">



        <ul class="pagination">

            {% if products.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{products.previous_page_number}}" tabindex="-1" aria-disabled="true">Geri</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link"  tabindex="-1" aria-disabled="true">Geri</a>
            </li>
            {% endif %}

         
            {% for p_number in products.paginator.page_range %}

            {% if p_number == products.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{p_number}}">{{p_number}}</a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{p_number}}">{{p_number}}</a></li>
            {% endif %}

            
            {% endfor %}

           


            
            {% if products.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{products.next_page_number}}">İleri</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="">İleri</a>
            </li>
            {% endif %}


        </ul>
    </nav>
</div>
{% endif %}


{% endblock body %}